{% extends 'croch/base.html' %}
{% block content %}
<h1 class="text-center">{{title}}</h1>
<div class="row row-cols-1 row-cols-md2 row-cols-lg-3 g-5">
      <div class="col">
      <div class="card color_back text-center">
  <img src="static/croch/images/Telegram.jpg" class="card-img-top" alt="Telegram">
  <div class="card-body">
    <h5 class="card-title">Telegram</h5>
    <p class="card-text">Ссылка на телеграмм для ваших отзывов и предложений!</p>
    <a href="https://t.me/Faith_fgh" target="_blank" class="btn btn-light">Telegram</a>
  </div>
</div>
      </div>
       <div class="col">
      <div class="card color_back text-center">
  <img src="static/croch/images/balaclava.jpg" class="card-img-top" alt="Telegram">
  <div class="card-body">
    <h5 class="card-title">Telegram</h5>
    <p class="card-text">Телеграмм канал с работами из нашей пряжи!</p>
    <a href="https://t.me/fghcroch" target="_blank" class="btn btn-light">Telegram</a>
  </div>
</div>
      </div>
       <div class="col">
      <div class="card color_back text-center">
  <img src="static/croch/images/vk.jpg" class="card-img-top" alt="VK">
  <div class="card-body">
    <h5 class="card-title">ВКонтакте</h5>
    <p class="card-text">Ссылка на ВКонтакте для ваших отзывов и предложений!</p>
    <a href="https://vk.com/fat___ass" target="_blank" class="btn btn-light">VK</a>
  </div>
</div>
      </div>
    </div>
{% endblock %}