{% extends 'croch/base.html' %}

{% block content %}
    <div class="card mb-3 border-0 nth-shadow color_back">
        <div class="card-body">
            <div class="card-title">
                <h4>Изменение пароля на сайте</h4>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-light mt-2">Подтвердить</button>
                <a href="{% url 'profile_detail' user.profile.slug %}" class="btn color_back">Отмена</a>
            </form>
        </div>
    </div>
{% endblock %}